mixin tagSolid(backgroundColor, textColor, text)
  span(style="padding: 3px 6px; vertical-align: bottom; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 28px; letter-spacing: .5px; background-color: #{backgroundColor}; color: #{textColor};") #{text}

mixin tagBordered(borderColor, textColor, text)
  span(style="padding: 3px 6px; vertical-align: bottom; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 28px; letter-spacing: .5px; border-top: 2px solid #{borderColor}; border-right: 2px solid #{borderColor}; border-bottom: 2px solid #{borderColor}; border-left: 2px solid #{borderColor}; color: #{textColor};") #{text}

mixin button(color, url, text)
  // BUTTON
  table(width="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      td(align="center" style="padding: 0;")
        a(class="body-text" href="#{url}" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #{color}; border-top: 10px solid #{color}; border-bottom: 10px solid #{color}; border-left: 20px solid #{color}; border-right: 20px solid #{color}; display: inline-block;").
          #{text}

mixin ad
  tr
    td
      table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
        tr
          td(class="padding" align="center" bgcolor="#ffffff" style=paddingStyle)
            // wrapper table
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
              tr
                td(align="center" style="font-size: 13px; color: #666666; font-family: Helvetica, Arial, sans-serif; font-weight: 200; letter-spacing: 2px;")
                  | ADVERTISEMENT
      

mixin article(data)
  // ARTICLE
  tr
    td
      table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
        tr
          if (data.series && data.series.nth === 1)
            -var className = 'padding-no-bottom'
          else if (data.series && data.series.nth !== data.series.n)
            -var className = 'padding-no-bottom-no-top'
          else if (data.series && data.series.nth === data.series.n)
            -var className = 'padding-no-top'
          else
            -var className = 'padding'
  
          if (data.series && data.series.nth !== data.series.n)
            -var paddingStyle = 'padding: 0'
          else 
            -var paddingStyle = 'padding: 0px 0px 40px 0px;'

          td(class=className align="center" bgcolor="#ffffff" style=paddingStyle)
            // wrapper table
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
              if !(data.series && data.series.nth !== 1)
                tr
                  td

                    // SECTION TITLE
                    table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#{data.color.full}")
                      tr
                        td(class="section-title" align="center")
                          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                            tr
                              // vertical spacer
                              td(style="padding: 3px 25px 10px 25px; font-size: 0;")
                            tr
                              td(style="border-top: 4px solid #{data.color.tint}; font-size: 0;" width="100%")
                            tr
                              td(class="body-text" style="padding: 5px 0px 6px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 20px; line-height: 24px; text-transform: uppercase; color: #ffffff;").
                                #{data.category}
  
              tr
                td
                  -var tableStyle = "border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;"
                  if data.series && data.series.nth !== data.series.n
                    -tableStyle = "border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;"

                  // ARTICLE BODY
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style=(data.series == false || data.series && data.series.nth == data.series.n) ? "border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;" : "border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;")
                    if data.image_src
                      tr
                        td(class="padding-feature-image" style="padding-top: 20px; padding-bottom: 5px; padding-left: 0; padding-right: 0;" align="center")
                          // content
                          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                            tr
                              td
                                a(href="#{data.url}" style="text-decoration: none;")
                                  img(class="fluid-image" src="#{data.image_src}" width="480" height="240" border="0" alt="Medical illustration" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")
    
                    if data.series && data.series.nth !== 1
                      -var paddingStyle = "padding: 15px 0px 0px 0px;"
                    else 
                      -var paddingStyle = "padding: 10px 0px 0px 0px;"

                    tr
                      td(class="padding-no-bottom" style=paddingStyle align="center")
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                          tr
                            td(style="padding: 0px 0px 20px 0px;")
                              a(class="body-text" href="#{data.url}" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: 500; font-size: 22px; line-height: 28px; color: #{data.color.full};")
                                | #{data.headline}
                                if data.video
                                  | &nbsp;
                                  +tagSolid(colorMap.red.lightest, colorMap.red.full, 'VIDEO')
                                  unless data.free
                                    | &nbsp;
                                if data.free
                                  | &nbsp;
                                  +tagSolid(colorMap.blue.lightest, colorMap.blue.full, 'FREE') 
                                  | &nbsp;

                          if data.authors
                            if data.blurb
                              -var paddingStyle = 'padding: 0px 0px 20px 0px;'
                            else
                              -var paddingStyle = 'padding: 0px 0px 5px 0px;'
                            tr
                              td(class="body-text" style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 18px; color: #909090;").
                                #{data.authors}

                          if data.blurb
                            tr
                              td(class="body-text" style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                #{data.blurb}

                  if (data.series && data.series.nth !== data.series.n)
                    tr
                      td(style="padding: 0px 0px 0px 0px; border-bottom: 1px solid #cccccc; font-size: 0;")
                    tr
                      td(style="padding: 0px 0px 0px 0px; font-size: 0;")
